
NODE_ENV=development

# CORS / server settings
API_PORT=
SOCKET_PORT=
CLIENT_URL=
JWT_SECRET=

# ICH discord credentials
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=
ADMIN_USER_ID=

# RDS Postgres connection
RDS_HOST=
RDS_PORT=
RDS_USER=
RDS_PASSWORD=
RDS_NAME=

# DynamoDB connection
DYNAMODB_ACCESS=
DYNAMODB_PWD=

# Redis connection
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Email client
ZOHO_USER=
ZOHO_PWD=

# OAuth credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_REDIRECT_URI=

# Recaptcha
GOOGLE_RECAPTCHA_SECRET_KEY=

